.bitacora{
    .list-group{
        .list-group-item{
            background-color: rgb(98, 194, 173);
            font-family: 'Pangolin', cursive;
        }
    }
    .entradabt{
        .fecha{
            color: $cafe;
        }
        .entrada{
            color: $cafe;
        }
    }
}