$ver1: #c7d0bf;
$ver2: #91a397;
$ver3: #7c8b76;
$ver4: #647966;
$ver5: #243d28;
$crem1: #fff1e0;
$crem2: #edd8bd;
$crem3: #e6cdaf;
$crem4: #ddbd98;
$marron: #4a230c;
$cafe1: #614226;
$cafe2: #b89271;

