*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "colecciones";
@import "index";
@import "bitacora";
@import "variables";
@import "general";
@import "mediaQ";

body{
    background-color: $ver1;
        h1{
            font-family: 'Pangolin', cursive;
            color: $marron;
            text-align: center;
        }
        h3{
            font-family: 'Pangolin', cursive;
            color: $marron;
            margin-left: 60px;
        }
        h4{
            font-family: 'Pangolin', cursive;
            color: $marron;
        }
        p{
            font-family: 'Coming Soon', cursive;
            color: $cafe1;
        }
        .intro{
            text-align: center;
            
        }
}
header{
    text-align: center;
        .logo{
            margin: 15px;
            width: 15%;
        }
}
nav{
    a{
        list-style: none;
        text-decoration: none;
        color: $crem1;
        font-family: 'Pangolin', cursive;
    }
    li{
        background-color: $ver3;
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
    }
    a:hover{
        color: $marron;
    }
}
main{
    padding-top: 25px;
    background-color: $crem1;
}
footer{
    background-color: $ver4;
    margin: 0;
    display: flex;
    flex-direction: column;
    .formulario{
        display: flex;
        justify-content: center;
    }
        .final{
            background-color: $ver5;
            color: #edd8bd;
            font-family: 'Verdana', sans-serif;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
}


/*scrollbar*/
*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
* {
  scrollbar-width: 10px;
  scrollbar-color: #e2baa0 #c2907759;
}
*::-webkit-scrollbar-track {
  background: #c2907759;
  border: #c29077 2px solid;
}

*::-webkit-scrollbar-thumb {
  background-color: #e2baa0;
  border-radius: 20px;
  border: 1px solid #c29077;
}
*::-webkit-scrollbar-button {
    background-color: $cafe2;
    border: $cafe1 1px solid;
    width: 10px;
    height: 16px;
}

