*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "index";
@import "bitacora";
@import "variables";

body{
    background-color: $ver1;
        h1{
            font-family: 'Pangolin', cursive;
            color: $marron;
        }
        h3{
            font-family: 'Pangolin', cursive;
            color: $marron;
        }
        p{
            font-family: 'Coming Soon', cursive;
        }
        h4{
            font-family: 'Pangolin', cursive;
            color: $marron;
        }
}
header{
    text-align: center;
        .logo{
            margin: 15px;
            width: 15%;
        }
}
nav{
    a{
        list-style: none;
        text-decoration: none;
        color: $crem1;
        font-family: 'Pangolin', cursive;
    }
    li{
        background-color: $ver3;
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
    }
    a:hover{
        color: $marron;
    }
}
main{
    padding-top: 25px;
}
footer{
    background-color: $ver4;
    margin: 0;
    display: flex;
    flex-direction: column;
    form{
        background-color: $ver3;
        font-family: 'Coming Soon', cursive;
        font-weight: 200;
        color: $cafe1;
        padding: 10px;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
        
        legend{
        font-family: 'Pangolin', cursive;
        color: $marron;
        }
        fieldset{
        margin: 5px;
        padding: 20px;
    
        }
        .enviar{
        color: $marron;
        font-family: 'Pangolin', cursive;
        background-color: $crem3;
        padding: 10px;
        font-size: 15px;
        letter-spacing: 2px;
        border: $crem4 3px solid;
        border-radius: 5px;
        }
    }
    .final{
        background-color: $ver5;
        color: #edd8bd;
        font-family: 'Verdana', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
* {
  scrollbar-width: thin;
  scrollbar-color: #e2baa0 #c2907759;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  background: #c2907759;
  border: #c29077 2px solid;
}

*::-webkit-scrollbar-thumb {
  background-color: #e2baa0;
  border-radius: 20px;
  border: 1px solid #c29077;
}
*::-webkit-scrollbar-button {
    background-color: $cafe2;
    border: $cafe1 1px solid;
}

