*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c7d0bf;
}
header{
    text-align: center;
}
.menu{
    background-color: #647966;
}
nav a{
    list-style: none;
    text-decoration: none;
    color: #fff1e0;
    font-family: 'Pangolin', cursive;
}
nav li{
    background-color: #7c8b76;
    padding: 10px;
    margin: 5px;
}
nav a:hover{
    color: #4f200e;
}
h1{
    font-family: 'Pangolin', cursive;
    color: #4f200e;
}
h3{
    font-family: 'Pangolin', cursive;
    color: #4f200e;
}
p{
    font-family: 'Coming Soon', cursive;
}

main{
    background-color: #fff1e0;
}



.about{
    grid-area: about;
        background-color: #e6cdaf;
        width: 60%;
        text-align: center;
        margin-right: 20%;
        margin-left: 20%;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr 2fr 4fr 2fr;
        grid-template-areas:
            "mi mi"
            "waf 1"
            "waf 2"
            "waf 3";
        align-items: center;
        justify-content: center;
        justify-items: center;
}
.sobre{
    text-align: center;
    align-content: center;
    padding: 1%;
}
.mi {
    grid-area: mi;
    grid-column: 1/3;
}
.waf{
    grid-area: waf;
    grid-row: 2/5;
    align-self: center;
}

.s{
    grid-area: 1;
    grid-row: 2/3;
}
.o{
    grid-area: 3/2/4/3;
}
.b{
    grid-area: 4/2/5/3;
}
hr{
    color: #243d28;
    size: 10px;
}
footer{
    background-color: #667b68;
}