@media (min-width: 1200px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background-color: #c7d0bf;
        margin: 0;
        padding: 0%;
        display: flex;
        flex-direction: column;
    }
    /*header y nav*/
    header{
        background-color: #91a397;
        margin: 0;
    }
    .banner{
        text-align: center;
    }
    .logo{
        padding: 10px;
        width: 15%;
    }
    .menu{
        font-family: 'Pangolin', cursive;
        background-color: #647966;
        list-style: none;
        margin: 0;
        position: sticky;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 10px;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    li{
        background-color: #7c8b76;

    }
    .menu__inicio{
        width: 10%;
        text-align: center;
        padding: 20px;
        margin-left: 5%;
        margin-right: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .menu__boton{
        width: 15%;
        text-align: center;
        padding: 20px;
        margin: 2%;
    }
    .menu__inicio a:hover{
        color: #4f200e;
    }
    .menu__boton a:hover{
        color: #4f200e;
    }
    .menu__boton__co{
        margin-right: 5%;
    }
     
     
    /*general*/
    main{
        background-color: #fff1e0;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    h1{
        justify-self: center;
        font-size: 50px;
        font-family: 'Pangolin', cursive;
        text-align: center;
        background-color: #edd8bd;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #4f200e;
    }
    h3{
        font-size: 30px;
        font-family: 'Pangolin', cursive;
        padding: 2%;
        color: #4f200e;
    }
    .intro{
        width: 400px;
        background-color: #e6cdaf;
        font-family: 'Coming Soon', cursive;
        font-size: 20px;
        text-align: center;
        padding: 1%;
        align-items: center;
    }
    p{
        font-family: 'Coming Soon', cursive;
    }
    .intro:hover{
        transform: scale(1.2,1.2);
    }
     
     
    
    
    
    
    
    
    
    /*index*/
    .indexmain{
        display: grid;
        grid-template-columns: 7fr 16fr 7fr;
        grid-template-rows: 10fr 22fr 14fr;
        grid-template-areas: 
            "emoji intro recomendados"
            "stream stream recomendados"
            "about about about"
        ;
        gap: 5px;
        align-items: center;
        justify-items: center;    
    }
    .indext{
        grid-area: intro;
    }
    .index__cara{
        grid-area: emoji;
        align-self: center;
        justify-self: center;
        
        animation: cara-gira infinite 1s linear alternate;
    }
    @keyframes cara-gira {
        from{
            transform: rotate(5deg) scale(1.2,1.2);
        }
        50%{
            transform: rotate(-5deg) scale(1,1);
        }
        to{
            transform: rotate(-15deg) scale(1.2,1.2);
        }
        
    }
    .streamin{
        grid-area: stream;
    }
    .recomendados{
        grid-area: recomendados;
        margin: 20px;
        position: sticky;
        display: grid;
        grid-template-columns: 1fr fr; 
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "tit tit" 
            "foto1 txt1"
            "foto2 txt2"
            "foto3 txt3"
            "foto4 txt4"
            "foto5 txt5"
        ;
    
    }
    .tit{
        grid-area: tit;
    }
    .foto1{
        grid-area: foto1;
        width: 100px;
    }
    .txt1{
        grid-area: txt1;
    }
    
    /*grid about*/
    .about{
        grid-area: about;
            background-color: #e6cdaf;
            width: 60%;
            text-align: center;
            margin-right: 20%;
            margin-left: 20%;
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: 1fr 2fr 4fr 2fr;
            grid-template-areas:
                "mi mi"
                "waf 1"
                "waf 2"
                "waf 3";
            align-items: center;
            justify-content: center;
            justify-items: center;
    }
    .sobre{
        text-align: center;
        align-content: center;
        padding: 1%;
    }
    .mi {
        grid-area: mi;
        grid-column: 1/3;
        animation: 0.5s sobre-mi infinite alternate linear;
        color: #4f200e;
    }
    @keyframes sobre-mi {
        from{
            transform: rotate(-10deg) translateX(-10px);
        }
        to{
            transform: rotate(10deg) translateX(10px);
        }
        
    }
    .waf{
        grid-area: waf;
        grid-row: 2/5;
        align-self: center;
    }
    
    .s{
        grid-area: 1;
        grid-row: 2/3;
    }
    .o{
        grid-area: 3/2/4/3;
    }
    .b{
        grid-area: 4/2/5/3;
    }
    
    
    
    
    
    
    /*waffles-for-dinner*/
    .wafflemain{
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         grid-template-areas: 
            "introwfd"
            "streamwfd"
            "twitchwfd"
            "ytwfd"
         ;
        justify-content: flex-end;
        align-items: center;
    }

    .introwfd{
        grid-area: introwfd;
        justify-content: center;
    }
    .str{
        grid-area: streamwfd;
        align-items: center;
    }
    .twitchwdf{
        grid-area: twitchwfd;
    }
    .ytwfd{
        grid-area: ytwfd;
    }

    
    
    
    
    
    
     
     
    /*colecciones*/
    .cosas{
        display: grid;
        grid-template-columns: 20% 10% 70%;
        grid-template-rows: 1fr 3fr 1fr 3fr 1fr 3fr 1fr 5fr;
        grid-template-areas: 
            "titulo titulo empty"
            "empty dibujos dibuos"
            "titulo titulo empty"
            "empty pin pin"
            "titulo titulo empty"
            "empty musica musica"
            "titulo titulo empty"
            "tablero tablero tablero"
            ;
    }
    
    .dib{
        grid-area: 1/1/2/2;
    }
    
    .dibujo{
        padding: 1px;
        grid-area: 2/2/3/4;
    
    }
    
    
    
    
    .pin{
        color: #4f200e;
        font-family: 'Coming Soon', cursive;
        padding: 1px;
    }
    
    
    
    
    
    /*bdpt*/
    .bdpt{
        margin: 2%;
    }
    .fecha{
        background-color: #ddbd98;
        color: #4f200e;
        font-family: 'Pangolin', cursive;    
        font-size: 20px;
        padding: 10px;
        width: 350px;
        position: relative;
        left: 50px;
        top: 20px;
    }
    .entrada{
        background-color: #e6cdaf;
     
        color: #110c06;
        font-family: 'Coming Soon', cursive;
        font-style: italic;
        font-size: 20px;
        padding: 20px;
        margin: 10px;
    }
    /*sad-duck-n-co*/
     
     
     
     
     /*redes y ayuda*/
    .redes{
        float: right ;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: #e3a485;
        width: 90px;
        margin: 5px;
        margin-bottom: 0;
        border: 5px #614226 solid;
        border-bottom: none;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        position: sticky;
        bottom: 0px;
        top: 1px;
        flex-wrap: wrap;
    }
    .hongo{
        align-self: center ;
        width: 80px;
    }
    a{
        text-decoration: #e3a485;
        text-decoration: none;
        color: #edd8bd;
        align-self: center;
    }
    .ayuuda{
        color: #243d28;
    }
    .ayuda{
        position: sticky;
        top: 20px;
        bottom: 1px;
        align-self: flex-start;
    }
    .comentarios{
        color: #4f200e;
        font-size: 20px;
        font-family: 'Pangolin', cursive;
    }
    
     
    /*footer*/
    footer{
        background-color: #647966;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    form{
        background-color: #7c8b76;
        font-family: 'Coming Soon', cursive;
        font-weight: 200;
        color: #614226;
        padding: 10px;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer form legend{
        font-family: 'Pangolin', cursive;
        color: #4f200e;
    }
    fieldset{
        margin: 5px;
        padding: 20px;
         
    }
    .enviar{
        color: #4f200e;
        font-family: 'Pangolin', cursive;
        background-color: #e6cdaf;
        padding: 10px;
        font-size: 15px;
        letter-spacing: 2px;
    }
    .final{
        background-color: #243d28;
        color: #edd8bd;
        font-family: 'Verdana', sans-serif;
        font-size: 15px;
        flex-direction: row-reverse;
        align-items: flex-end;
    }
    
}



@media (min-width: 768px) {
    body{
        background-color: #c7d0bf;;
        margin: 0;
        padding: 0%;
        display: flex;
        flex-direction: column;
    }
    header{
        background-color: #91a397;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .banner{
        text-align: center;
    }
    .logo{
        width: 10%;
    }  
    .menu{
        font-family: 'Pangolin', cursive;
        background-color: #647966;
        list-style: none;
        margin: 0;
        position: sticky;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 10px;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    li{
        background-color: #7c8b76;
        list-style: none;
    }
    .casa{
        width: 10%;
        text-align: center;
        padding: 20px;
        margin-left: 5%;
        margin-right: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .boton{
        width: 15%;
        text-align: center;
        padding: 20px;
        margin: 2%;
    }
    .casa a:hover{
        color: #4f200e;
    }
    .boton a:hover{
        color: #4f200e;
    }
    .co{
        margin-right: 5%;
    }
    .menu a{
        color: #e6cdaf;
        text-decoration: none;
    }
    main{
        background-color: #fff1e0;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    h1{
        justify-self: center;
        font-size: 50px;
        font-family: 'Pangolin', cursive;
        text-align: center;
        background-color: #edd8bd;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3{
        font-size: 30px;
        font-family: 'Pangolin', cursive;
        padding: 2%;
    }
    .intro{
        width: 400px;
        background-color: #e6cdaf;
        font-family: 'Coming Soon', cursive;
        font-size: 20px;
        text-align: center;
        padding: 1%;
        align-items: center;
    }
    p{
        font-family: 'Coming Soon', cursive;
    }

    .indexmain{
        display: grid;
        grid-template-columns: 7fr 16fr 7fr;
        grid-template-rows: 10fr 22fr 14fr;
        grid-template-areas: 
            "emoji intro recomendados"
            "stream stream recomendados"
            "about about about"
        ;
        gap: 5px;
        align-items: center;
        justify-items: center;    
    }
    .indext{
        grid-area: intro;
    }
    .cara{
        grid-area: emoji;
        align-self: center;
        justify-self: center;
    }
    .streamin{
        grid-area: stream;
    }
    .recomendados{
        grid-area: recomendados;
        margin: 20px;
        position: sticky;
        display: grid;
        grid-template-columns: 1fr fr; 
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "tit tit" 
            "foto1 txt1"
            "foto2 txt2"
            "foto3 txt3"
            "foto4 txt4"
            "foto5 txt5"
        ;
    
    }
    .tit{
        grid-area: tit;
    }
    .foto1{
        grid-area: foto1;
        width: 100px;
    }
    .txt1{
        grid-area: txt1;
    }
    
    /*grid about*/
    .about{
        grid-area: about;
            background-color: #e6cdaf;
            width: 60%;
            text-align: center;
            margin-right: 20%;
            margin-left: 20%;
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: 1fr 2fr 4fr 2fr;
            grid-template-areas:
                "mi mi"
                "waf 1"
                "waf 2"
                "waf 3";
            align-items: center;
            justify-content: center;
            justify-items: center;
    }
    .sobre{
        text-align: center;
        align-content: center;
        padding: 1%;
    }
    .mi {
        grid-area: mi;
        grid-column: 1/3;
    }
    .waf{
        grid-area: waf;
        grid-row: 2/5;
        align-self: center;
    }
    
    .s{
        grid-area: 1;
        grid-row: 2/3;
    }
    .o{
        grid-area: 3/2/4/3;
    }
    .b{
        grid-area: 4/2/5/3;
    }
    

    .wafflemain{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
           "introwfd"
           "streamwfd"
           "twitchwfd"
           "ytwfd"
        ;
       justify-content: flex-end;
       align-items: center;
   }

   .introwfd{
       grid-area: introwfd;
       justify-content: center;
   }
   .str{
       grid-area: streamwfd;
       align-items: center;
   }
   .twitchwdf{
       grid-area: twitchwfd;
   }
   .ytwfd{
       grid-area: ytwfd;
   }


   footer{
    background-color: #647966;
    margin: 0;
    display: flex;
    flex-direction: column;
}
form{
    background-color: #7c8b76;
    font-family: 'Coming Soon', cursive;
    font-weight: 200;
    color: #614226;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer form legend{
    font-family: 'Pangolin', cursive;
    color: #4f200e;
}
fieldset{
    margin: 5px;
    padding: 20px;
     
}
.enviar{
    color: #4f200e;
    font-family: 'Pangolin', cursive;
    background-color: #e6cdaf;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 2px;
}
.final{
    background-color: #243d28;
    color: #edd8bd;
    font-family: 'Verdana', sans-serif;
    font-size: 15px;
    flex-direction: row-reverse;
    align-items: flex-end;
}

}


@media (max-width: 768px){
    body{
        background-color: #c7d0bf;;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    header{
        background-color: #91a397;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .banner{
        text-align: center;
    }
    .logo{
        width: 50%;
    }  
    .menu{
        font-family: 'Pangolin', cursive;
        background-color: #647966;
        list-style: none;
        margin: 0;
        position: sticky;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 10px;
        color: #e6cdaf;
    }
    nav{
        background-color: #647966;
    }
    nav ul li{
        text-decoration: none;
        list-style: none;
        background-color: #7c8b76;
        padding: 5px;
        margin: 4px;
        text-align: center;
    }
    nav a{
        color: #e6cdaf;
        text-decoration: none;
    }
    nav a:hover{
        color: #4f200e;
    }







    main{
        background-color: #fff1e0;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    h1{
        justify-self: center;
        font-size: 50px;
        font-family: 'Pangolin', cursive;
        text-align: center;
        background-color: #edd8bd;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3{
        font-size: 30px;
        font-family: 'Pangolin', cursive;
        padding: 2%;
    }
    
}